

     <div class="row">
     <div class="col-sm-12">
      <div class="form-group" id="inner" style="position: static;">
          <input type="checkbox" name="rand" class="radio_item"  id="image16" value="https://i.imgur.com/fGUlH1y.png">
          <input type="checkbox" name="photo" class="radio_item" id="image1" value="https://i.imgur.com/1YuJldM.jpg">
          <label class="label_item" for="image1"><img src="https://i.imgur.com/1YuJldM.jpg"></label>

          <input type="radio" name="photo" class="radio_item" id="image2" value="https://i.imgur.com/fGUlH1y.png">
          <label class="label_item" for="image2"><img src="https://i.imgur.com/fGUlH1y.png" style="padding: 30px;"></label>
          <input type="radio" name="photo" class="radio_item" id="image4" value="https://i.imgur.com/st9wzwT.png">
          <label class="label_item" for="image4"><img src="https://i.imgur.com/st9wzwT.png"></label>
          <input type="radio" name="photo" class="radio_item" id="image3" value="https://i.imgur.com/HdkXWMe.png">
          <label class="label_item" for="image3"><img src="https://i.imgur.com/HdkXWMe.png"></label>
          <input type="radio" name="photo" class="radio_item" id="image5" value="https://i.imgur.com/SQgnKAs.png">
          <label class="label_item" for="image5"><img src="https://i.imgur.com/SQgnKAs.png"></label>



          <input type="checkbox" class="aboveage6 check01" id="check1" name="utilities[]" value="1 parking" />12
          <br />
          <input type="checkbox" class="aboveage6 check01" id="check2" name="utilities_02[]" value="1 parqueo" />12 2
          <br />

      </div>
      </div>

      <div class="form-group" style="padding-right: 10px; position: static;">
          <button type="submit" class="btn btn-default" id="button3">Submit</button>
        </form>
      </div>
     </div>
