

     <div class="row">
     <div class="col-sm-12">
      <div class="form-group" id="inner" style="position: static;">
        <form method="post" action="/pokemon/new">
          <input type="checkbox" name="bio" class="radio_item pikachu"  id="pikachu_bio" value="Whenever Pikachu comes across something new, it blasts it with a jolt of electricity. If you come across a blackened berry, it's evidence that this Pokémon mistook the intensity of its charge.">
          <input type="checkbox" name="attacks" class="radio_item pikachu"  id="pikachu_attacks" value="thundershock, thunder, thunderbolt, quick attack, iron-tail">
          <input type="checkbox" name="breed" class="radio_item pikachu"  id="pikachu_breed" value="electric">
          <input type="checkbox" name="name" class="radio_item pikachu"  id="pikachu_name" value="Pikachu">
          <input type="checkbox" name="photo" class="radio_item pikachu" id="pikachu" value="https://i.imgur.com/1YuJldM.jpg">
          <label class="label_item" for="pikachu"><img src="https://i.imgur.com/1YuJldM.jpg"></label>

          <input type="checkbox" name="bio" class="radio_item staryu"  id="staryu_bio" value="Staryu is a golden-brown sea star-like Pokémon with five appendages. These appendages surround an exterior organ called the core, which is held in place by a golden ring looped around Staryu's left "leg". If any of Staryu's appendages are lost, it can grow them back with ease provided the core is still intact. The core resembles a red jewel and is similar to a madreporite. Staryu is a natural prey of some species of Pokémon, including Lumineon. However, due to its regenerative abilities, being preyed upon does not negatively affect it.
When the sun goes down, the core glows its brightest. Many will float from the seafloor to the surface and align themselves with stars of the night sky as their core flickers, displaying a connection with the celestial bodies of space">
          <input type="checkbox" name="attacks" class="radio_item staryu"  id="staryu_attacks" value="water gun, bubble beam, power gem, tackle, swift">
          <input type="checkbox" name="breed" class="radio_item staryu"  id="staryu_type" value="water">
          <input type="checkbox" name="name" class="radio_item staryu"  id="staryu_name" value="Staryu">
          <input type="checkbox" name="photo" class="radio_item staryu" id="staryu" value="https://i.imgur.com/s3Mh5Xx.png">
          <label class="label_item" for="staryu"><img src="https://i.imgur.com/s3Mh5Xx.png"></label>

          <div class="form-group" id="inner" style="position: static;">
          <input type="checkbox" name="bio" class="radio_item charmander"  id="charmander_bio" value="Charmander is a bipedal, reptilian Pokémon with a primarily orange body. Its underside from the chest down and soles are cream-colored. It has two small fangs visible in its upper jaw and two smaller fangs in its lower jaw. Charmander has blue eyes. Its arms and legs are short with four fingers and three clawed toes. A fire burns at the tip of this Pokémon's slender tail, and has blazed there since Charmander's birth.
          The flame can be used as an indication of Charmander's health and mood, burning brightly when the Pokémon is strong, weakly when it is exhausted, wavering when it is happy, and blazing when it is enraged. It is said that Charmander dies if its flame goes out. However, if the Pokémon is healthy, the flame will continue to burn if gets a bit wet and is said to steam in the rain.">
          <input type="checkbox" name="attacks" class="radio_item charmander"  id="charmander_attacks" value="thundershock, thunder, thunderbolt, quick attack, iron-tail">
          <input type="checkbox" name="breed" class="radio_item charmander"  id="charmander_type" value="fire">
          <input type="checkbox" name="name" class="radio_item charmander"  id="charmander_name" value="Charmander">
          <input type="checkbox" name="photo" class="radio_item charmander" id="charmander" value="https://i.imgur.com/woWI0th.png">
          <label class="label_item" for="charmander"><img src="https://i.imgur.com/woWI0th.png"></label>



      </div>
      </div>

      <div class="form-group" style="padding-right: 10px; position: static;">
          <button type="submit" class="btn btn-default" id="button3">Submit</button>
        </form>
      </div>
     </div>
