

<form method="post" action="/signup">
  <div class="form-group" style="position: static;">
    <label for="name">Name</label>
    <input type="name" name="name" class="form-control" id="name" placeholder="name">
    <label for="username">Username</label>
    <input type="username" name="username" class="form-control" id="username" placeholder="username">

  <% if !locals.empty? %>
    <p class="help-block" style="color:red;">
      <strong <%= message %></strong>
    </p>
  <% end %>
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" id="password" placeholder="password">
  </div> <!-- ends form-group-->



  <div class="row">
    <div class="col-sm-12">
     <div class="form-group" id="inner" style="position: static;">
       <h3>Choose a Trainer Photo</h3>
         <input type="radio" name="photo" class="radio_item" id="image1" value="https://i.imgur.com/P1kI4DZ.png">
         <label class="label_item" for="image1"><img src="https://i.imgur.com/P1kI4DZ.png"></label>
         <input type="radio" name="photo" class="radio_item" id="image2" value="https://i.imgur.com/fGUlH1y.png">
         <label class="label_item" for="image2"><img src="https://i.imgur.com/fGUlH1y.png" style="padding: 30px;"></label>
         <input type="radio" name="photo" class="radio_item" id="image4" value="https://i.imgur.com/st9wzwT.png">
         <label class="label_item" for="image4"><img src="https://i.imgur.com/st9wzwT.png"></label>
         <input type="radio" name="photo" class="radio_item" id="image3" value="https://i.imgur.com/HdkXWMe.png">
         <label class="label_item" for="image3"><img src="https://i.imgur.com/HdkXWMe.png"></label>
         <input type="radio" name="photo" class="radio_item" id="image5" value="https://i.imgur.com/SQgnKAs.png">
         <label class="label_item" for="image5"><img src="https://i.imgur.com/SQgnKAs.png"></label>
      </div> <!--ends form group-->
     </div> <!--ends col-sm-12-->

          <button type="submit" class="btn btn-default" id="button3">Submit</button>

     </div>    <!--ends row-->
</form> <!-- end of sign-up form-->

    <div class="row">
      <div class="col-sm-6" style="margin-left: 50px;">
        <figure>
          <img src="https://i.imgur.com/1bBDal2.jpg">
        </figure>
      </div> <!--column sm 6-->

        <div class="col-md-4">
            <h3>Already a trainer? Login</h3>
          <div class="form-group" style="position: static;">

            <!-- STARTS LOGIN FORM -->
            <form method="post" action="/login">
				<label for="login-username">Username</label>
				<input type="text" name="username" class="form-control" id="login-username" placeholder="username">
				<label for="login-password">Password</label>
				<input type="text" name="password" class="form-control" id="login-password" placeholder="password">
          </div> <!--ends form group-->
              <button type="submit" class="btn btn-default">Login</button>
            </form>
        </div> <!--ends col-md-4-->

      </div> <!--ends row-->
