<form method="post" action="/">
 <div class="form-group" style="">
     <label for="name">Name</label>
     <input type="name" name="name" class="form-control" id="name" placeholder="name">
 </div>
 <div class="form-group" style="position: static;">
     <label for="username">Username</label>
     <input type="username" name="username" class="form-control" id="username" placeholder="username">
 </div>
 <p class="help-block" style="color:red;"><strong>  <% unless locals.empty? %>
     <%= message %>
   <% end %></strong></p>
 <div class="form-group" style="position: static;">
     <label for="password">Password</label>
     <input type="password" name="password" class="form-control" id="password" placeholder="password">
 </div>
</div>
</div>
<div class="row">
<div class="col-sm-12">
 <div class="form-group" id="inner" style="position: static;">
     <input type="radio" name="photo" class="radio_item" id="image1" value="https://i.imgur.com/P1kI4DZ.png">
     <label class="label_item" for="image1"><img src="https://i.imgur.com/P1kI4DZ.png"></label>

     <input type="radio" name="photo" class="radio_item" id="image2" value="https://i.imgur.com/fGUlH1y.png">
     <label class="label_item" for="image2"><img src="https://i.imgur.com/fGUlH1y.png" style="padding: 30px;"></label>
     <input type="radio" name="photo" class="radio_item" id="image4" value="https://i.imgur.com/st9wzwT.png">
     <label class="label_item" for="image4"><img src="https://i.imgur.com/st9wzwT.png"></label>
     <input type="radio" name="photo" class="radio_item" id="image3" value="https://i.imgur.com/HdkXWMe.png">
     <label class="label_item" for="image3"><img src="https://i.imgur.com/HdkXWMe.png"></label>
     <input type="radio" name="photo" class="radio_item" id="image5" value="https://i.imgur.com/SQgnKAs.png">
     <label class="label_item" for="image5"><img src="https://i.imgur.com/SQgnKAs.png"></label>



 </div>
 </div>

 <div class="form-group" style="padding-right: 10px; position: static;">
     <button type="submit" class="btn btn-default" id="button3">Submit</button>
   </form>
 </div>
</div>

    <div class="row">
    <div class="col-sm-8">
     <figure>
     <img src="https://i.imgur.com/1bBDal2.jpg">
     </figure>
    </div> <!--column sm 8-->

  <div class="col-sm-4">
      <h3>Already a trainer? Login</h3>
      <div class="row">
        <div class="col-md-6" style="">
          <div class="form-group" style="position: static;">

            <!-- STARTS LOGIN FORM -->
            <form method="post" action="/login">
            <label for="input-id-2">Username</label>
            <input type="text" name="username" class="form-control" id="input-id-2" placeholder="username">
        </div>
          <div class="form-group" style="position: static;">
              <label for="input-password-1">Password</label>
              <input type="text" name="password" class="form-control" id="input-password-1" placeholder="password">
          </div>
          <div class="form-group" style="padding-right: 20px; position: static;">
              <button type="submit" class="btn btn-default">Login</button>
            </form>
          </div>
      </div>
      <div class="col-md-6" style=""></div>
    </div>
    </div> <!--column sm 4-->
